[user]
	name = Blake Embrey
	email = hello@blakeembrey.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL0+8Eq/0cyKNZoDY5OfaaZJr+WdYJLWukRjIgZDE9dh

[apply]
	whitespace = fix

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	func = 146 bold
	commit = yellow bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[merge]
	log = true
	conflictstyle = diff3

[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[core]
	editor = $HOMEBREW_PREFIX/bin/nvim
	excludesFile = ~/.gitignore
	pager = delta

[commit]
	gpgsign = true

[init]
	defaultBranch = main

# [url "git@github.com:"]
#	insteadOf = https://github.com/

[interactive]
	diffFilter = delta --color-only

[color]
	ui = true

[delta]
	navigate = true

[diff]
	colorMoved = default

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
