[user]
	name = Blake Embrey
	email = hello@blakeembrey.com

[apply]
        # Detect whitespace errors when applying a patch
        whitespace = fix

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
        log = true

[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	editor = /usr/bin/vim
